@using E_LPATR.Models
@model Profile
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:50px">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>
                    <b>@Model.Name</b> [ @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) ]
                </h3>

                <ol class="breadcrumb">
                    <li><a href="~/Account/Home">Home</a></li>
                    <li><a href="~/Student/SearchedGigs">Searched Category</a></li>
                    <li class="active">Profile</li>
                </ol>
                @if (Model.Image == null)
                {
                    <img style="max-width:700px" src="~/Images/math.jpg" height="370" />
                }
                else
                {
                    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Image))" style="max-width:600px" height="200" />}
                @*<img class="img-responsive" src="~/Images/math.jpg" />*@
                <br />
                @if (Request.Cookies["user"]["role"] != "Teacher")
                {
                    <div class="col-lg-push-9 col-lg-1 col-md-1 col-md-push-9">
                        <a href="~/Student/SentRequestRequirements" class="btn btn-success btn-lg">Send Request</a>
                    </div>
                }
                <h3><b>Prices: </b></h3>
                <div style="margin-left:100px">
                    <b>Per hour :</b> @Model.PackagePlan.CostPerHour
                    <b style="margin-left:100px">Per Day :</b> @Model.PackagePlan.CostPerDay
                    <b style="margin-left:100px">Per 3 Days :</b> @Model.PackagePlan.CostPer3Days
                </div>
                <h3 style="margin-left:50px"><b>Description</b></h3>
                <p style="text-align:center">
                    @Model.Description
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="padding-left:40px">
                    <img class="img-responsive img-rounded" src="~/Images/User.png" />
                    <h4 class="text-center"><b>@Model.Teacher.FirstName</b></h4>
                </div>
                <hr />
                <p><b>Education: </b> Graduation</p> <br />
                <p><b>Country: </b> @Model.Teacher.Country.Name</p><br />
            </div>
        </div>
    </div>
</div>