@using E_LPATR.Models
@model ViewRequest
@{
    ViewBag.Title = "Request Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-left:100px;padding-right:100px;margin-top:50px">
    <div class="panel panel-default">
        <div style="margin:20px">
            <div class="row" style="margin:20px">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <span style="color:coral;font-size:30px"><b>Request number</b></span>
                    <span style="font-size:30px; padding-left:30px">@Model.Request.Id </span>
                    @if (Model.Request.RequestStatus.Name != "Pending")
                    {
                        <button class="btn btn-success">@Html.ActionLink("Accept", "AcceptRequest", new { Id = Model.Request.Id })</button>
                        <button class="btn btn-success">@Html.ActionLink("Reject", "RejectRequest", new { Id = Model.Request.Id })</button>
                    }
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <span style="color:darkgreen;font-size:30px;text-align:right">Rs. @Model.Request.Cost</span>
                </div>
            </div>
            <hr />
            <h3><b>@Model.Request.Title</b></h3>
            <hr />
            <h2>@Model.Request.Describtion</h2>
            <hr />
            <div id="RequestMessage">
                @if (Model.RequestMessage.Any())
                {
                    foreach (var item in Model.RequestMessage)
                    {
                        if (item.Sender.Id == Convert.ToInt32(Request.Cookies["user"]["Id"]))
                        {
                            <div style="text-align:right">
                                <p> <span style="background-color:gainsboro;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;font-size:18px">&nbsp;&nbsp;&nbsp;&nbsp;@item.Message @item.Attachment &nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                                <p>@item.DateTime</p>
                            </div>
                        }
                        else
                        {
                            <div style="text-align:left">
                                <p> <span style="background-color:lightgreen;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;font-size:18px">&nbsp;&nbsp;&nbsp;&nbsp;@item.Message @item.Attachment&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                                <p>@item.DateTime</p>
                            </div>
                        }
                    }
                }
            </div>
            @if (Model.Request.RequestStatus.Name != "Pending")
            {
                using (Html.BeginForm("AddMessage", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.Request.Student.Id, new { @value = Model.Request.Teacher.Id })
                    @Html.HiddenFor(m => m.Request.Id, new { @value = Model.Request.Id })
                    @Html.TextAreaFor(m => m.AddMessage.Message, new { @class = "form-control textArea required", rows = "5", cols = "60", @placeholder = "Enter Message" })
                    <br />
                    <div class="form-group form-inline">
                        <label class="control-label" for="file"> Add Attachment</label>
                        <input type="file" name="file" id="file" class="form-control" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success btn-lg" type="submit">Send</button>
                    </div>
                }
            }
            else
            {
                <button class="btn btn-success">@Html.ActionLink("Accept", "ActiveRequest", new { Id = Model.Request.Id })</button>
                <button class="btn btn-danger">@Html.ActionLink("Reject", "RemoveRequest", new { Id = Model.Request.Id })</button>
            }
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(document).ready(function () {
            new get_requestMessage();
        });

        function get_requestMessage() {
            var requestMessage = $.ajax({//Ajax
                type: "POST",
                url: "@Url.Content("~/Teacher/GetRequestMessages/")" + RequestId,
                async: false
            }).success(function () {
                setTimeout(function () { get_requestMessage(); }, 5000);
            }).responseText;//end of ajax

            $('div.RequestMessage').html(requestMessage).delay(5000).queue(function () {
                $.each(res, function (key, value) {
                    alert(value.Id + ": " + value.Message);
                });
                //alert('requestMessage');
                new get_requestMessage();
            });
        }
        //$("#CategoryId").change(function () {
        //    var categoryId = $(this).val();
        //    debugger;

         @*var RequestId = @Model.Request.Id;
            $.ajax({
                url: "@Url.Content("~/Teacher/GetRequestMessages/")" + RequestId,
                type: 'GET',// added data type
                success: function (res) {
                    debugger;
                    $("#SubCategoryId").html("");
                    $.each(res, function (key, value) {
                        $("#SubCategoryId").append("<option value='" + value.Id + "'>" + value.Name + "</option>")
                    });
                },
                error: function (e) {
                    debugger;
                    alert(e.responseJSON);
                }
            });*@
        //});
    </script>

}