<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-LPATR</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
    <style>
        body {
            font-family: 'Oxygen', serif;
            background-color: #F8F8F8;
            padding-bottom: 0px
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Request.Cookies["user"] == null)
                {
                    <a class="navbar-brand" href="~/Account/Home">E-LPATR</a>
                }
                else if (Request.Cookies["user"]["Role"] == "Admin")
                {
                    <a class="navbar-brand" href="~/Admin/Home">E-LPATR</a>
                }
                else if (Request.Cookies["user"]["Role"] == "Teacher")
                {
                    <a class="navbar-brand" href="~/Teacher/Dashboard">E-LPATR</a>
                }
                else if (Request.Cookies["user"]["Role"] == "Student")
                {
                    <a class="navbar-brand" href="~/Student/Home">E-LPATR</a>
                }
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" method="get" action="~/Account/SearchedGigs">
                    <div class="form-group">
                        <input type="text" id="SearchedData" class="form-control" placeholder="Search Here..." name="SearchedData" />
                        <input type="submit" value="submit" id="Search" class="btn btn-success" />
                    </div>
                </form>
                @if (Request.Cookies["user"] == null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Account/SignUp">Sign Up</a></li>
                        <li><a href="~/Account/Login">Login</a></li>
                    </ul>
                }
                else if (Request.Cookies["user"]["Role"] == "Admin")
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Admin/Categories">Categories</a></li>
                        <li><a href="~/Admin/Issues">Issues</a></li>
                        <li><a href="~/Admin/Requests">Requests</a></li>
                        <li><a href="~/Admin/Students">Students</a></li>
                        <li><a href="~/Admin/Teachers">Teachers</a></li>
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Notifications<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                            </ul>
                        </li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @if (Request.Cookies["user"] != null)
                                {
                                    <b>@Request.Cookies["user"]["FirstName"]</b>
                                }
                                else
                                {
                                    <b>User</b>
                                }
                            </a>
                            <ul class="dropdown-menu">
                                @*<li role="separator" class="divider"></li>*@
                                <li><a href="~/Account/Settings">Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Account/Logout">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                }
                else if (Request.Cookies["user"]["Role"] == "Teacher")
                {
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Teacher/Requests">Requests</a></li>
                <li style="margin-top:15px">
                    @if (Session["TotalEarnings"] != null)
                    {
                        <span style="color:white;font-size:14px"><b> Rs. @Session["TotalEarnings"]</b></span>
                    }
                </li>
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Notifications<span class="caret"><span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                    </ul>
                </li>*@
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="~/Images/User.png" class="img-circle img-responsive" alt="User Name" width="30" height="30" />
                    </a>
                    <ul class="dropdown-menu">
                        <li style="padding-left:20px">
                            @if (Request.Cookies["user"] != null)
                            {
                                <b>@Request.Cookies["user"]["FirstName"]</b>
                            }
                            else
                            {
                                <b>User</b>
                            }
                        </li>
                        <li><a href="~/Account/Settings">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="~/Account/Logout">Log out</a></li>
                    </ul>
                </li>
            </ul>
                }
                else if (Request.Cookies["user"]["Role"] == "Student")
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Student/RecentRequests">Recent Requests</a></li>
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Notifications<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                            </ul>
                        </li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="~/Images/User.png" class="img-circle img-responsive" alt="User Name" width="30" height="30" />
                            </a>
                            <ul class="dropdown-menu">
                                <li style="padding-left:20px">
                                    @if (Request.Cookies["user"] != null)
                                    {
                                        <b>@Request.Cookies["user"]["FirstName"]</b>
                                    }
                                    else
                                    {
                                        <b>User</b>
                                    }
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Account/Settings">Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Account/Logout">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                }
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div>
        @if (Request.Cookies["user"] != null)
        {
            if (Request.Cookies["user"]["Role"] == "Admin")
            {
                <div class="container">
                    @RenderBody()
                </div>
            }
            else
            {
                @RenderBody()
            }
        }

        else
        {
            @RenderBody()
        }
        <hr />
        <footer style="color:antiquewhite;background-color:#1a1a1a">
            <div class="container">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <h2><b>About Us</b></h2>
                    <p style="margin-top:20px">
                            This website contains the mechanism of hiring of teachers. Here, students will hire teachers for different subjects and their profile will be updated. Students can choose a teacher after checking their profile. They will send a request to a teacher and after accepting a request they’ll start their studying. A teacher can choose limited students of their choice.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <h2><b>Social Networks</b></h2>
                    <img src="~/Images/facebook.png" width="50" height="50" class="img-circle" style=""/>&nbsp;
                    <img src="~/Images/gmail.png" width="50" height="50" class="img-circle" style=""/>&nbsp;
                    <img src="~/Images/instagram.png" width="50" height="50" class="img-circle" style=""/>&nbsp;
                    <img src="~/Images/twitter.png" width="50" height="50" class="img-circle" style=""/>&nbsp;
                    <img src="~/Images/linkedin.png" width="50" height="50" class="img-circle" style=""/>&nbsp;
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h2><b>Contact Us</b></h2>
                    <form role="form" action="~/Account/AddIssue" method="post">
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="Message" placeholder="Message" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success"> Send</button>
                        </div>
                    </form>
                    
                    
                </div>
                <p>Copyright &copy; @DateTime.Now.Year - E-LPATR</p>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

