@using E_LPATR.Models
@model ViewRequest
@{
    ViewBag.Title = "Request Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-left:100px;padding-right:100px;margin-top:50px">
    <div class="panel panel-default">
        <div style="margin:20px">
            <div class="row" style="margin:20px">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <span style="color:coral;font-size:30px"><b>Request number:</b></span>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <span style="color:darkgreen;font-size:30px;text-align:right">Rs. @Model.Request.Cost</span>
                </div>
            </div>
            <hr />
            <h3><b>@Model.Request.Title</b></h3>
            <hr />
            <h2>@Model.Request.Describtion</h2>
            <hr />
            @if (Model.RequestMessage.Any())
            {
                foreach (var item in Model.RequestMessage)
                {
                    if (item.Sender.Id == Convert.ToInt32(Request.Cookies["user"]["Id"]))
                    {
                        <div style="text-align:right">
                            <p> <span style="background-color:gainsboro;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;font-size:18px">&nbsp;&nbsp;&nbsp;&nbsp;@item.Message&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                            <p>@item.DateTime</p>
                        </div>
                    }
                    else
                    {
                        <div style="text-align:left">
                            <p> <span style="background-color:lightgreen;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;font-size:18px">&nbsp;&nbsp;&nbsp;&nbsp;@item.Message&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                            <p>@item.DateTime</p>
                        </div>
                    }
                }
            }
            @if (Model.Request.RequestStatus.Name == "Active")
            {
                using (Html.BeginForm("AddMessage", "Student", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.Request.Teacher.Id, new { @value = Model.Request.Teacher.Id })
                    @Html.HiddenFor(m => m.Request.Id, new { @value = Model.Request.Id })
                    @Html.TextAreaFor(m => m.AddMessage.Message, new { @class = "form-control textArea required", placeholder = "Enter Message", cols = 50, rows = 5 })
                    <div class="form-group">
                        <label class="control-label" for="file"> Add Attachment</label>
                        <input type="file" name="file" id="file" class="form-control" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success btn-lg" type="submit">Send</button>
                    </div>
                }
            }

        </div>
    </div>
</div>
