@model IEnumerable<E_LPATR.Models.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Categories</h2>
<p>
    @Html.ActionLink("Add New", "AddCategory")
</p>
<table class="display" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.ActionLink("Edit", "CategoriesEdit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "DetailedCategory", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteCategories", new { id = item.Id })
                </td>
            </tr>
         }
    </tbody>

</table>
