@model E_LPATR.Models.Issues

@{
    ViewBag.Title = "DetailedIssues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailedIssues</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.IssueMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueMessage)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Issues")
</p>
