@model E_LPATR.Models.Request

@{
    ViewBag.Title = "DetailedRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailedRequest</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <br />
        <dt>
            Teachers Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Email)
        </dd>
        <br />
        <dt>
            Students Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
        <br/>
        <dt>
            @Html.DisplayNameFor(model => model.Describtion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Describtion)
        </dd>
        <br/>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <br/>
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "RequestsEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Requests")
</p>
