@model IEnumerable<E_LPATR.Models.User>

@{
    ViewBag.Title = "TeachersRequests";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TeachersRequests</h2>

<table class=" display" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Country
            </th>
            <th>
                Education
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinedOn)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.AccountStatus.Name == "Pending")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Degree.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JoinedOn)
                    </td>
                    <td>
                        @Html.ActionLink("Add", "AddTeacherConfirmation", new { id = item.Id }) |
                        @Html.ActionLink("Details", "DetailedTeachersRequests", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteTeachersConfirmation", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
