@model IEnumerable<E_LPATR.Models.Request>

@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Requests</h2>

<table class="display" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Describtion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryTime)
            </th>
            <th>
                Request Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Describtion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestStatus.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "RequestsEdit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "DetailedRequest", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteRequest", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
